.offer-list-section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content-card h3{
    margin: 20px;
}

.btn{
    margin:5px;
}

.table{
    text-align: center !important;
    vertical-align: middle !important;
}

.welcome-banner{
    text-align: center;
    color: white;
    padding-top: 40px;
}

.welcome-banner h1{
    margin-bottom: 80px;
}
