.btn{
    margin:5px;
}

.welcome-banner{
    text-align: center;
    color: white;
    margin: 40px;
}

.lists-buttons{
    margin-top: 30px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.lists-buttons button{
    padding: 20px;
    margin: 20px;
}