.welcome-banner{
    text-align: center;
    color: white;
    padding-top: 40px;
}

.welcome-banner h1{
    margin-bottom: 80px;
}


.lists-buttons{
    margin-top: 30px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.btn-light{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.table-container{
    width: 70%;
    margin-top: 50px;
    padding: 15px;
}
