.offer-list-section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content-card h3{
    margin: 20px;
}

.table{
    background-color: white;
}

.table thead th{
    text-align: center;
    vertical-align: middle;
}

.btn-light{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.welcome-banner{
    text-align: center;
    color: white;
    padding-top: 40px;
}

.welcome-banner h1{
    margin-bottom: 80px;
}
