.login-card{
    max-width: 70%;
}

.logo-pannel{
    background: transparent;
    margin: auto;
    width: 50%;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-span{
    width:50%;
    float: left;
    margin-right: 5px;
}

.slogan-span{
    width:50%;
    float:right;
    text-align: left;
    margin-left: 5px;
}

.logo-img{
    max-width:100%;
    max-height:100%;
    height: 120px;
    float:right;
}