.login-card{
    background: rgba(255, 255, 255, 0.8);
    margin: auto;
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo-pannel{
    background: transparent;
    margin: auto;
    width: 50%;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-span{
    width:50%;
    float: left;
    margin-right: 5px;
}

.slogan-span{
    width:50%;
    float:right;
    text-align: left;
    margin-left: 5px;
}