.top-menu-bar {
  position:sticky;
  width:fit-content;
  height: 50px;
  margin: auto;
  background-color: rgba(240, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  top: 0px;
}

.profile-span {
  padding: 2px;
  margin-right: 10px;
  width: fit-content;
}

.profile-span-username {
  margin-left: 2px;
  margin-right: 2px;
}

.profile-span-icon {
  margin-left: 2px;
  margin-right: 2px;
}

.logout-button-span {
  padding: 2px;
}
